<%- include('../partials/header.ejs')%>
    
    <body>
        <article>
            <h2>Create a new Appointment</h2>
            <form id="new-trade-form" action = '/trades' method = 'POST'>
                <label for="category">Physician/PA </label>
                <select id="category" name="category" required>
                    <!-- <option hidden disabled selected value>Select a physician or PA</option> -->
                    <option value="<%= user.firstName%> <%= user.lastName%>"><%= user.firstName%> <%= user.lastName%></option>
                </select><br>
                <br>
                <label for="name">Patient name </label>
                <input type="text" id="name" name="name" required><br>
                <br>
                <label for="size">Date & Time </label>
                <input type="text" id="size" name="size" required><br>
                <br>
                <label for="color">Phone number </label>
                <input type="text" id="color" name="color" required><br>
                <br>
                <label for="status">Appointment Status </label>
                <select id="status" name="status" required>
                    <!-- <option hidden disabled selected value>Select the appointment status</option> -->
                    <option value="Upcoming">Upcoming</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select><br>
                <br>
                <label for="description">Description/Notes:</label><br>
                <textarea id="description" name="details" rows="15" placeholder="Enter in any patient and appointment notes & details here" required minlength="10"></textarea><br>
                <br>
                <input type="submit" id="new-trade-submit" value="Create Appointment">
            </form>
        </article>
        <%- include('../partials/footer.ejs')%>