<%- include('../partials/header.ejs')%>
<body>
    <article>
        <h1><%= trade.name%></h1>
        <p><small> <%= trade.status%> Appointment with <%= trade.category%> | <%= trade.size%></small></p>
        <!-- <p><small> Created by <%= trade.creator.firstName + ' ' + trade.creator.lastName%> -->
        <!-- <%if(user != trade.creator._id){%>
            <form>
                <button type = "submit" formmethod = "GET" formaction = "/trades/<%= trade.id%>/trade">Trade</button>
                <button type = "submit" formmethod = "POST" formaction = "/watches/<%= trade.id%>">Watch</button>
            </form>
        <%}%> -->
        <div>
            <%if(user == trade.creator._id){%> <!--TO: add this for receptionist: || user.email == 'rec@novocare.com' -->
                <form>
                    <button type = "submit" formmethod = "GET" formaction = "/trades/<%= trade.id%>/edit">Edit Appointment</button>
                    <%if(trade.status === "Upcoming" ){%>
                        <!-- TODO: need to have pop up to confirm user actually wants to delete the appointment-->
                        <button type = "submit">Start Appointment</button>
                        <button type = "submit" formmethod = "POST" formaction = "/trades/<%= trade.id%>?_method=DELETE">Delete Appointment</button>
                    <%}%>
                    <%if(trade.status === "In Progress" ){%>
                        <button type = "submit">Complete Appointment</button> <!-- TODO: have a complete appointment form in user will have to choose either completed or no-show -->
                    <%}%>
                </form>
            <%}%>
        </div>
        <div>
            
            <h2>Patient Info</h2>
            <ul>
                <li>Phone number: <%= trade.color%></li>
                <!--<li>Email address: </li> need to make a text box on the form for email address-->
            </ul>
            <h2>Description/Notes</h2>
            <p><%= trade.details%></p>
        </div>
    </article>
    <%- include('../partials/footer.ejs')%>