<%- include('../partials/header.ejs')%>
<body>
    <article>
        <h1><%= patient.first_name%> <%= patient.last_name%></h1>
        <!-- <img id="shoe-trade-image" src="<%= trade.image%>" alt="shoe image" width="250" height="313"> -->
    </article>
<%- include('../partials/footer.ejs')%>